*{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line{
  position: fixed;
  border: 1px solid orangered;
  width: 40vw;
  top: 18px;
  left: 0px;
}